---
layout: default
title: Thorsent
---
<div class="banner">
  <img src="/assets/images/banner.jpg" class="img-responsive"/>
  <div class="section">
    <div class="container-fluid">
      <div class="about row">
        <div class="col-sm-4">
          <img src="/assets/images/headshot.png"/>
        </div>
        <div class="col-md-6 col-sm-8">
          <h4>Hi, I'm Ty Thorsen. I'm a full-stack software engineer with an affinity for the front end. I love working with friends to create beautiful, elegant applications that are delightful to use.</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="projects section">
  <div class="container-fluid">
    <h1>Projects</h1>
    <div class="row">
      {% for project in site.data.projects %}
        <div class="col-sm-6">
          <div class="project card card-2 card-hoverable card-hoverable-4">
            <a href="{{ project.url }}">
              {% if project.cover %}
                <img src="{{ project.cover }}"/>
              {% else %}
                <img src="/assets/images/posts/default_cover.png"/>
              {% endif %}
              <div class="card-content">
                <h2>{{ project.name }}</h2>
                <p>{{ project.description }}</p>
              </div>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
<div class="posts section">
  <div class="container-fluid">
    <h1>Recent Blog Posts</h1>
    <div class="clearfix">
      {% for post in site.posts limit: 1 %}
        <div class="post feature card card-2">
          <a href="{{ post.url }}">
            {% if post.cover %}
              <img src="{{ post.cover }}.png" class="cover"/>
            {% else %}
              <img src="/assets/images/posts/default_cover.png" class="cover"/>
            {% endif %}
          </a>
          <div class="card-content card card-2">
            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <p class="meta">Posted on {{ post.date | date_to_string }} by {{ post.author }}</p>
            {{ post.excerpt }}
            <p><a href="{{ post.url }}">read more</a></p>
          </div>
        </div>
      {% endfor %}
      {% for post in site.posts offset: 1 limit: 2 %}
      <div class="post card card-2 clearfix">
        <a href="{{ post.url }}">
          {% if post.cover %}
            <img src="{{ post.cover }}_sm.png" class="cover"/>
          {% else %}
            <img src="/assets/images/posts/default_cover_sm.png" class="cover"/>
          {% endif %}
        </a>
        <div class="card-content">
          <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
          <p class="meta">Posted on {{ post.date | date_to_string }} by {{ post.author }}</p>
          {{ post.excerpt }}
          <p><a href="{{ post.url }}">read more</a></p>
        </div>
      </div>
      {% endfor %}
    </div>
    <a href="/blog" class="btn btn-lg btn-primary" role="button">See All Posts</a>
  </div>
</div>