$color-primary: #3f51b5;
$color-primary-dark: #303f9f;
$color-primary-light: #c5cae9;

$color-dark-87: rgba(0,0,0,0.87);
$color-dark-54: rgba(0,0,0,0.54);
$color-dark-26: rgba(0,0,0,0.26);
$color-dark-13: rgba(0,0,0,0.13);

$color-light: rgba(255,255,255,1);
$color-light-87: rgba(255,255,255,0.87);
$color-light-54: rgba(255,255,255,0.54);
$color-light-26: rgba(255,255,255,0.26);