---
layout: default
title: Blog
---

<div class="posts section main">
  <div class="container-fluid">
    <h1>Blog</h1>
    {% for post in site.posts limit: 1 %}
      <div class="post feature card card-2">
        <a href="{{ post.url }}">
          {% if post.cover %}
            <img src="{{ post.cover }}.png" class="cover"/>
          {% else %}
            <img src="/assets/images/posts/default_cover.png" class="cover"/>
          {% endif %}
        </a>
        <div class="card-content card card-2">
          <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
          <p class="meta">Posted on {{ post.date | date_to_string }} by {{ post.author }}</p>
          {{ post.excerpt }}
          <p><a href="{{ post.url }}">read more</a></p>
        </div>
      </div>
    {% endfor %}
    {% for post in site.posts offset: 1 %}
    <div class="post card card-2 clearfix">
      <a href="{{ post.url }}">
        {% if post.cover %}
          <img src="{{ post.cover }}_sm.png" class="cover"/>
        {% else %}
          <img src="/assets/images/posts/default_cover_sm.png" class="cover"/>
        {% endif %}
      </a>
      <div class="card-content">
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <p class="meta">Posted on {{ post.date | date_to_string }} by {{ post.author }}</p>
        {{ post.excerpt }}
        <p><a href="{{ post.url }}">read more</a></p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>