<md-content>
	<section layout="row" layout-sm="column" layout-align="center center">
		<h1>Room: {{ room.$id }}</h1>
	</section>
	<section ng-show="user.leader" layout="row" layout-sm="column" layout-align="center center">
		<p>Choose a Card Deck:</p>
		<md-radio-group ng-model="room.deckIndex" ng-change="changeDeck()">
			<md-radio-button ng-repeat="deck in cardDecks" ng-value="$index" aria-label="{{ deck.name }}">
				{{ deck.name }}
			</md-radio-button>
		</mg-radio-group>
	</section>
	<section layout="row" layout-align="center center" layout-wrap>
		<md-card ng-repeat="card in selectedDeck">
			<md-card-content >
				<p>[{{ card.text }}]</p>
			</md-card-content>
		</md-card>
	</section>
	<section layout="row" layout-sm="column" layout-align="center center">
		<md-checkbox ng-model="user.voter" ng-change="toggleVoter()" aria-label="User is Voter">
			<span ng-show="user.voter">You are a voter</span>
			<span ng-hide="user.voter">You are not a voter</span>
		</md-checkbox>
	</section>
</md-content>