.post {
  background: #FFF;
  text-align: justify;
  margin-bottom: 1em;

  h2 {
  	margin: 0;
    font-size: 2em;
    line-height: 1.5em;
    font-weight: normal;
    text-align: left;
  }

  p {
    margin: 0.8em 0;
  }

  img {
    max-width: 100%;
    height: auto;

    &.cover {
      float: left;
      margin: 1em;
    }
  }

  pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;

    code {
      border: none;
    }
  }

  ul, ol {
    margin-left: 1.35em;
  }

  code {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .2em;
  }

  pre.terminal {
    border: 1px solid #000;
    background-color: #333;
    color: #FFF;

    code {
      background-color: #333;
    }
  }

  .meta {
  	margin-top: 0;
	color: #aaa;
	text-align: left;
  }

  .card-content {
  	padding: 1em 2em 1em 359px;
  }

  &.feature {
  	img.cover {
  		width: 100%;
  		height: auto;
  		float: none;
  		margin: 0;
  	}

  	.card-content {
  		margin: -4em 2em 0;
  		background: #FFF;
  		position: relative;
  		padding-left: 2em;
  	}
  }
}

.posts .btn {
	margin: 1em 0 0 0.5em;
}