@import 'partials/variables';
@import 'partials/formControls';

.ulti-ipsum {
	position: relative;

	.header-bg {

		position: relative;
		overflow: hidden;

		img {
			width: 100%;
			height: auto;
			display: block;
			position: relative;
			top: 0;
		}

		.header-main {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			box-shadow: inset 0px -4px 8px rgba(0, 0, 0, 0.56);

			& > div {
				display: table;
				width: 100%;
				height: 100%;

				& > div {
					display: table-cell;
					vertical-align: middle;

					.shim {
						display: inline-block;
						background: $color-dark-26;
						padding: 1em 2em;
						color: $color-light;
						font-weight: bold;

						h1 {
							font-size: 3.2em;
							line-height: 1.2em;
							margin-bottom: 0.25em;

							@media screen and (min-width: 37.5em) {
								font-size: 4.8em;
							}

							@media screen and (min-width: 48em) {
								font-size: 6em;
							}
						}

						p {
							font-size: 1.125em;
							line-height: 1.2em;
							margin: 0;

							@media screen and (min-width: 37.5em) {
								font-size: 1.5em;
							}

							@media screen and (min-width: 48em) {
								font-size: 2em;
							}
						}
					}
				}
			}
		}
	}

	.main {
		border-bottom: 2px solid $color-dark-26;
		padding-bottom: 1em;
	}

	.ipsum-footer {
		background: $color-primary;
		color: $color-light;
		padding-top: 1em;

		.half > div {
			padding: 0.5em;
			display: inline-block;

			@media screen and (min-width: 48em) {
				text-align: left;
			}

			h2 {
				margin-bottom: 0.5em;
			}

			p {
				margin: 0.25em 0;
			}
		}

		a {
			color: $color-light;
			text-decoration: underline;
		}

		.badges {
			padding: 0.5em;

			a {
				text-decoration: none;
			}

			img {
				width: 100px;
				height: auto;
				margin: 0 1em;
			}
		}

		.copyright {
			padding: 1em;
			margin: 0;
			font-size: 0.75em;
		}
	}
}

#ipsum-controls {

	@media screen and (min-width: 48em) {
		float: left;
		width: 30%;
	}

	& > div {
		margin: 1em 2em;
		padding: 0.5em 1em;
		background: #FFF;
		text-align: left;

		@media screen and (min-width: 37.5em) {
			margin: 1em 4em;
		}

		@media screen and (min-width: 48em) {
			margin: 1em 0 1em 1em;
		}
	}
}

#ipsum-container {

	@media screen and (min-width: 48em) {
		float: left;
		width: 70%;
	}

	p {
		background: #FFF;
		padding: 0.5em 1em;
		margin: 1em 2em;
		text-align: left;

		@media screen and (min-width: 37.5em) {
			margin: 1em 4em;
		}

		@media screen and (min-width: 48em) {
			margin: 1em;
		}
	}
}